<h1>Welcome to Pet Store, Your Order Has Been Successfully Placed</h1>
<p>Dear <%= @order.user.name %>,</p>
<p>Your order #<%= @order.id %> has been successfully placed!</p>
<%= render "detail_order" %>
