.navbar-brand-text {
  font-size: 2rem !important;
  font-weight: bold;
}

.custom-btn-primary {
  background-color: #FF2200 !important;
  border-color: #FF2200 !important;
}

.image-admin {
  width: 100px; 
  display: block
}

.empty-items-img {
  width: 400px;
}

.mlr-50 {
  padding: 0 50px 0 50px;
}

.custom-shadow{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.carousel-item .card {
  width: 280px;
  height: 400px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: '';
  font-family: 'Glyphicons Halflings';
  font-size: 24px;
  color: #fff;
}

.carousel-caption {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

.carousel-caption h5,
.carousel-caption p {
  color: #fff;
}

.carousel-caption a.btn {
  margin-top: 10px;
}

.text-green {
  color: green;
}

.cancel-reason {
  display: none;
}

.cancellation-reason {
  border: 1px solid #e74c3c;
  padding: 10px;
  background-color: #ffdfe4;
  color: #e74c3c;
  border-radius: 5px;
}
